<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <%= link_to "Citem", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "記事を書く", new_article_path, class: 'nav-link' %>
          </li>
          <li class="nav-item dropdown">
            <%= link_to current_user.nickname, new_article_path, class: 'nav-link dropdown-toggle', 'data-toggle': :dropdown %>
            <div class="dropdown-menu">
              <%= link_to 'ユーザー編集', edit_user_registration_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
